// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width:100%;
  height:100%;
  font-size:1em;
  background-color:#333;
  padding:0;
  margin-top:0;
  font-family: "Lato", "sans-serif";
}
.wrapper {
  width:75%;
  margin:0 auto;
  text-align:center;
  background-color:#fff;
  margin:-24px auto;
  padding-top: 5vh;
  box-sizing:border-box;
  color:#333;
  min-height:100vh; 
  max-height:500vh;
}
a {
  text-decoration:none;
  color:#444;
  margin-bottom:10px;
}
a:hover {
  color:#000;
}
h1 {
  font-family: 'PT sans';
  clear:both;
}
input {
  margin-bottom:8px;
}
.content {
  box-sizing:border-box;
  padding-top:0px;
  margin-top:0px;
  clear:both;
}
.grid-6{
  float:left;
  width:50%;
  border-sizing: border-box;
  padding-bottom:20px;
}

.grid-6 .button {
  background-color:#444;
  display:inline-block;
  padding:2px 5px;
  margin-left:7px;
  border-radius:5px;
  margin-bottom:7px;
}

.button a{
  color: white;
}
.grid-6 .button:hover {
  background-color:#666;
}
.song-title{
  margin-top:25%;
}
.content h3:nth-child(even) {
  background-color:#ddd;
  height:40px;
  box-sizing:border-box;
  padding-top:10px;
  margin:0;
}
.content h3:hover {
  background-color:#eee
}
.song-title {
  margin-bottom: 20px;
}
.cover {
  background-color:#999;
}











